<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Flower Editor"
            extensions="flower-diagram"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.flowerplatform.desktop.eclipse.parts.FlowerEditor"
            id="FlowerEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=help">
         <command
               commandId="NewCommand"
               id="NewCommand"
               label="New Command!!!"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.flowerplatform.desktop.eclipse.parts.NewCommandHandler"
            id="NewCommand"
            name="New Command">
      </command>
   </extension>

</plugin>
